body {
    font-family: 'Khand', sans-serif;
    font-size: 150%;
    background-color: BlueViolet;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-stretch: expanded;
    background-color: BlueViolet;
}

ul.main-menu {
    list-style-type: square;
    margin: 0;
    padding: 0;
    background-color: BlueViolet;
}

ul.main-menu>li {
    display: inline;
    padding: 20px;
    color: LightCyan;
}

ul.sub-menu {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

ul.sub-menu>li{
    display: inline;
    padding: 20px
}

nav{
    text-align: center;
    color: white;
}
nav{
    background: BlueViolet;
    padding: 50px;
}

.frame {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:link{
    color: white;
}
a:visited{
    color: LightCyan;
}
a:hover{
    color: Cyan;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

ul.sub-menu.dropdown {
  position: relative;
  display: inline-block;
}

ul.sub-menu.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

ul.sub-menu.dropdown:hover .dropdown-content {
  display: block;
}
