body { 
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
    background-color: #6dc0d5;
}

h1 { 
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 15px;
}

ul.main-menu {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

ul.main-menu>li {
    display: inline;
}

nav{
    text-align: center
}
nav{
    background: white;
    padding: 20px;
}

.frame {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
